<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <ul>
        <li class="btn btn-primary btn-lg btn-block" >添加<a href="#">添加</a></li>
        <li class="btn btn-primary btn-lg btn-block">分类<a href="#">分类</a></li>
        <li class="btn btn-primary btn-lg btn-block"><a href="#">CD查看</a></li>
        <li class="btn btn-primary btn-lg btn-block"><a href="#">收益统计</a></li>
    </ul>
</body>
</html>